.home-view {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-view .main {
  flex-grow: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-view .footer {
  flex-grow: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 16px;
}

.home-view .footer p {
  max-width: unset;
  margin: 0;
}

.home-view .footer a {
  margin-left: 8px;
}

.home-view .footer a .icon {
  font-size: 20px;
  color: #666;
}

.home-view .footer a:hover .icon {
  font-size: 20px;
  color: #4078c0;
}

.home-view .buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.home-view .buttons .or {
  margin: 32px 16px;
}

.home-view ul {
  margin: 0;
}

.home-view hr {
  background-color: #d8d8d8;
  border-width: 0;
  height: 1px;
  width: 60%;
  align-self: center;
  margin: 16px 0;
}
