.home-view {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-view .buttons {
  display: flex;
  align-items: center;
}

.home-view .buttons .or {
  margin: 32px 16px;
}

.home-view ul {
  margin: 0;
}
